<div class="flex flex-col gap-4 p-5 min-h-screen">
  <mat-card class="flex gap-4 p-2">
    <mat-card-header>
      <mat-card-title>
        <span class="font-semibold text-xl">My Cart</span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="flex flex-col gap-4">
        <mat-card *ngFor="let item of cartItems$ | async" class="shadow-lg">
          <mat-card-content>
            <div class="flex justify-between bg-slate-300 rounded-lg p-2">
              <div class="flex flex-col gap-2">
                <span class="font-medium text-blue-950 underline">{{ item.pokemon.name | uppercase }}</span>
                <span>{{ item.quantity }}</span>
              </div>
              <div class="flex items-center justify-center">
                <button mat-flat-button (click)="removeItem(item.pokemon.name)">{{ 'Delete' | uppercase }}</button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
    <mat-card-footer class="flex justify-between gap-2">
      <button [disabled]="(cartItems$ | async)?.length === 0" color="warn" mat-button class="block w-full" (click)="clearCart()">Clear Cart</button>
      <button [disabled]="(cartItems$ | async)?.length === 0" mat-flat-button class="block w-full" [routerLink]="'/checkout'">Go To Checkout</button>
    </mat-card-footer>
  </mat-card>

</div>
