<div class="flex items-center justify-center min-h-screen gap-10 my-5">
  <div class="flex items-center justify-center">
    <div class="p-5 bg-slate-300 rounded-lg shadow-lg flex flex-col items-center">
      <h1 class="text-3xl font-bold capitalize">
        <span class="bg-blue-400 p-2 mr-2 rounded-lg">
          #{{ pokemon.id }}
        </span>
        {{ pokemon.name }}
      </h1>
      <img [src]="pokemon.image" [alt]="pokemon.name" class="w-40 h-40" />
      <button mat-fab extended (click)="playSound()">Play Sound</button>
      <p class="mt-2">Height: {{ pokemon.height }}</p>
      <p>Weight: {{ pokemon.weight }}</p>
      <p>Abilities: {{ pokemon.abilities }}</p>
      <div class="flex flex-col items-center justify-center my-4 border-2 p-2 border-black">
        <span class="text-xl mb-2 font-bold">Evolution Chain</span>
        <div (click)="setSelectedEvolutionName(ctx.name)" *ngFor="let ctx of pokemonEvolution" [ngClass]="route.snapshot.paramMap.get('name') === ctx.name ? 'bg-indigo-400 hover:cursor-default' : 'hover:bg-indigo-400 transition-all hover:cursor-pointer bg-indigo-600'" class="py-2 px-4 mb-2 rounded-bl-full rounded-tr-full text-white">
          <span class="uppercase">{{ ctx.name }}</span>
        </div>
      </div>
      <div class="flex flex-col gap-3">
        <button mat-fab extended (click)="isFormVisible = true">Buy Pokemon</button>
        <button mat-flat-button extended (click)="addPokemonToCart(pokemon)">Add to Cart</button>
      </div>
      <a routerLink="/pokemon" class="mt-5 text-blue-500 hover:underline"
        >Back to Pokémon List</a
      >
    </div>
  </div>
  <div *ngIf="isFormVisible">
    <app-purchase-modal [currentPokemon]="selectedEvolutionName" [evolutionChain]="pokemonEvolution"></app-purchase-modal>
  </div>
</div>

